services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./container/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./:/var/www/html
    depends_on:
      - php
    networks:
      - app-network

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_mvc
    ports:
      - "5430:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  php:
    build:
      context: ./container/php
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    depends_on:
      - postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
    driver: local